body{
    padding: 0px;
    margin: 0px;
}

section.top-section{
    background-color:#00faef;
    text-align: center;
    padding: 30px;
}
.top{
    display: flex;
    flex-direction: column;
    font-size: 20px;
   
}

.middle{
    display: flex;
}

.flex-container{
}

div.div-middle{
    width: 100%;
    height: 100px;
}

section.top2-section{
    background-color: #257d78;
   
} 
section.top2-section{
    display: flex;
    
}
.menu{
    padding: 20px;
    font-family: Arial;
    font-size: 20;
    color: white;
    padding: 20px;
    border-right: 1px solid black;
}
.div1{
    background-color: #9d9da1;
	padding:20px;
}
.div2{
    background-color:#c3c3c7;
	padding:20px;
}
.div3{
    background-color:#f0f0f0;
	padding:20px;
}
.footer{
    background-color: #257d78;
    padding: 30px;
    text-align: center;
    color: white;
}
@media screen and (max-width: 600px){
    .middle {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .active{
        order: -1;
        flex: 1 0 50%;
    }
}